*{
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
    padding: 30px;
    display: flex;
    align-items: center;
    gap: 70px;
    background-color: black;
    height:2vh;
    
}
header img{
    width: 7vh;
    height: 7vh;
}
ul{
    display: flex;
    gap: 50px;
    
}
body a{
    text-decoration: none;
    color: rgb(74, 99, 146);
    font-size: 30px;
    font-weight: 500;


}
body li{
    list-style: none;

    
}

/* body{
    background-image: url(img/istockphoto-1156102065-612x612.jpg);
    background-size: 100%;
} */
.main_page h1{
    font-size: 50px;
    color: rgb(113, 151, 221);

}
.main_page{
    background-image: url(img/istockphoto-1156102065-612x612.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    align-items: center;



    /* background-color: black; */

    height: 100vh;
}
.img{
    width: 14vh;
    height: 14vh;
}
.imgContainer{
    display: flex;
    align-content: center;
    gap: 70px;
}
.img1{
    width: 16vh;
    height: 12vh;
}
.divCenter{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 130vh;
    gap: 50px;
}
footer{
    background-color: black;
    height: 200px;
   
    
}
footer ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 10px;
    text-align: center;

}
footer a{
    font-size: 20px;
}
.play_header_info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    height: 20vh;
    grid-column: 1/2;
}
.select{
  width:150px;
  height: 40px;
  font-size: 18px;
}
#input{
    width:200px;
    height: 30px;
    padding: 5px; 
    font-size: 18px;

}
.label{
    font-size: 20px;
    font-weight: 300;


}
.Formation{
    display: flex;
    gap: 20px;
    align-items: center;
}
.play_main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 100px;
}



/* @media(max-width:425px){
    .main_page{
        background-image: url(img/istockphoto-1156102065-612x612.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    
    
    
        height: 700vh;
    }
} */
/* .play_main{
    background-image: url(img/istockphoto-1156102065-612x612.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.5;
   



    height: 100vh;
} */

body {
    background-color: #fff;
  }
  .container {
    width: 850px;
    height: 550px;
    margin: 50px auto;
    background-color:#539A46;
    position:relative;
    grid-column: 2/3;
   

    .line{
          width: 850px;
          height: 550px;
          border:3px solid #ffffff;
          position:absolute;
          left:0px;
          right:0px;
          top:0px;
          bottom:0px;
          &::before{
              border:5px solid #539A46;
              bottom: -6px;
              content: "";
              left: -9px;
              position: absolute;
              right: -6px;
              top: -9px;
          }
    }
    .half{
          width: 425px;
          height: 550px;
          position:absolute;
          top:0px;
          border-right-color:#fff;
          border-right-style:solid;
          border-right-width:4px;
          left:0px;
          z-index:200;
    }
    .panelty{
        width:110px;
        height:220px;
        border:3px solid #ffffff;
          position:absolute;
          z-index:220;
           background-color:#539A46;
              &.left{
              left:3px;
              top:150px;
              border-left-color:transparent;
              border-left-width:0px;
              
                  &::after{
                      border:3px solid #ffffff;
                      border-left-color:transparent;
                      border-left-width:0px;
                      bottom: 45px;
                      content: "";
                      left: 0px;
                      position: absolute;
                      right: 55px;
                      top: 45px;
                  }
              }
              &.right{
              right:0px;
              top:150px;
              border-right-color:transparent;
              border-right-width:0px;
                      &::after{
                      border:3px solid #ffffff;
                      border-right-color:transparent;
                      border-right-width:0px;
                      bottom: 45px;
                      content: "";
                      left: 55px;
                      position: absolute;
                      right: 0px;
                      top: 45px;
                  }
              }
    }
    .p-spot{
        &.left{
              &:after{
                  content:"\2022";
                  position:absolute;
                  color:#fff;
                  font-size:35px;
                  top:238px;
                  left:80px;
                  z-index: 300;			
              }
        }
        &.right{
              &:after{
                  content:"\2022";
                  position:absolute;
                  color:#fff;
                  font-size:35px;
                  top:238px;
                  right:80px;		
                  z-index: 300;	
              }
        }
    }
    .center{
            position:absolute;
            width:130px;
            height:130px;
            border:3px solid #ffffff;
          left: 359px;
          top: 193px;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              border-radius: 50%;
        &::after{
              background-color: #fff;
              border: 5px solid #fff;
              bottom: 55px;
              content: "";
              left: 55px;
              position: absolute;
              right: 55px;
              top: 55px;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              border-radius: 50%;
        }
    }
    .p-place{
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;	
      height: 130px;
      position: absolute;
      width: 150px;
      z-index: 210;
      border:3px solid transparent;
          &.left{
          border-bottom-color: #fff;
          border-right-color: #fff;
          border-top-color: #fff;
          left: 0;
          top: 193px;
          }
          &.right{
          border-bottom-color: #fff;
          border-left-color: #fff;
          border-top-color: #fff;
          right: 0px;
          top: 193px;
          }
    }
  }
  